.App {
  /* text-align: center; */
  min-height: 100vh;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
.App-header-title {
  color: #fff;
}
.App-main {
  padding: 24px;
}

.App-main-content {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 181px);
}

.App-footer {
  text-align: right;
}
